{% extends 'layout.html.twig' %}

{% block title %}Créer une nouvelle sortie{% endblock %}

{% block main %}
    <div class="bg">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div><h5>Créer une sortie</h5></div>

                    {{ form_start(creerSortie) }}
                    <div class="form-group row">
                        {{ form_row(creerSortie.nom_sortie) }}
                    </div>
                    <div class="form-group row">
                        {{ form_row(creerSortie.datedebut) }}
                    </div>
                    <div class="form-group row">
                        {{ form_row(creerSortie.datecloture) }}
                    </div>
                    <div class="form-group row">
                        {{ form_row(creerSortie.nbinscriptionsmax) }}
                    </div>
                    <div class="form-group row">
                        {{ form_row(creerSortie.duree) }}
                    </div>
                    <div class="form-group row">
                        {{ form_row(creerSortie.descriptionsinfos) }}
                    </div>
                </div>
                <div class="col-sm">
                    <div><h5>Ville organisatrice</h5></div>
                    <div class="form-group row">
                        {{ form_row(creerSortie.ville) }}
                    </div>
                    {#        <label>Lieu : </label>#}
                    <div class="form-group row">

                        {{ form_row(creerSortie.lieu) }}
                        {#            <select name="lieux" id="lieux"></select>#}
                    </div>
                    <div class="form-group row">Rue :</div>
                    <div class="form-group row" id="rue">
                    </div>
                    <div class="form-group row">Code postal :</div>
                    <div class="form-group row" id="codePostal">
                    </div>
                    <div class="form-group row">Latitude :</div>
                    <div class="form-group row" id="latitude">
                    </div>
                    <div class="form-group row">Longitude :</div>
                    <div class="form-group row" id="longitude">
                    </div>
                </div>
            </div>
        </div>


        <div class="container">


            <button type="submit" class="btn btn-primary btn-lg btn-block">Créer une sortie</button>
            <a href="{{ path('accueil') }}" type="button" class="btn btn-primary btn-lg btn-block">Annuler</a>
            {{ form_end(creerSortie) }}
        </div>
    </div>
    <script src="jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#creer_sortie_ville').change();
        });
        $('#creer_sortie_ville').change(function (e) {
            var ville = $('#creer_sortie_ville').val();
            console.log(ville);
            $.ajax({
                url: "{{ path('lieuxDeVille') }}?ville=" + ville,
                cache: false
            })
                .done(function (lieux) {
                    $('#creer_sortie_lieu').empty();
                    // $('#lieux').empty();
                    $('#codePostal').empty();
                    $('#codePostal').append($('<div>' + lieux[0].codePostal + '</div>'));
                    lieux.forEach(function (lieu) {
                        console.log(lieu.nom);
                        $('#creer_sortie_lieu').append($('<option value="' + lieu.id + '">' + lieu.nom + '</option>'));
                        // $('#lieux').append($('<option value="' + lieu.id + '">' + lieu.nom + '</option>'));
                    });
                    //on actualise les lieux en changeant de ville en appelant la fonction de lieu
                    $('#creer_sortie_lieu').change();
                    // $('#lieux').change();
                });
            e.preventDefault();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#creer_sortie_lieu').change();
            // $('#lieux').change();
        });
        $('#creer_sortie_lieu').change(function (e) {
            // $('#lieux').change(function (e) {
            var lieu = $('#creer_sortie_lieu').val();
            // var lieu = $('#lieux').val();
            console.log(lieu);
            $.ajax({
                url: "{{ path('adresseLieu') }}?lieu=" + lieu,
                cache: false
            })
                .done(function (lieux) {
                    $('#rue').empty();
                    $('#latitude').empty();
                    $('#longitude').empty();
                    lieux.forEach(function (lieu) {
                        $('#rue').append($('<div>' + lieu.rue + '</div>'));
                        $('#latitude').append($('<div>' + lieu.latitude + '</div>'));
                        $('#longitude').append($('<div>' + lieu.longitude + '</div>'));
                    });
                });
            e.preventDefault();
        });
    </script>


{% endblock %}


